# Environment / secrets
.env

# Virtual environments
.venv/
env/
venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Test reports / artifacts
reports/
allure-results/
allure-report/
html-report/
screenshots/

# OS / misc
.DS_Store
Thumbs.db
